mixin changeRate(userRate, isArchived)
    div(class='orderPage__set-rate')
        div(class='orderPage__set-rate_title') Ваша ставка
        div(class='orderPage__set-rate_price')= userRate
        if !isArchived
            form(class='orderPage__set-rate_form' id='rate-form')
                div(class='orderPage__set-rate_input')
                    div(class='custom-form__input')
                        input(class='orderPage__set-rate_input_in form-control' type='text' name='rate' placeholder='Новая цена ₽' maxlength)
                    div(class="error error-rate")
                        div(class="error__message")
                        div(class="error__main")
                div(class='orderPage__set-rate_buttons')
                    button(class='orderPage__set-rate_button' id='send_mess') Изменить
                    button(class='orderPage__set-rate_button-del') Удалить
