mixin makeRate(isArchived)
    div(class='orderPage__set-rate')
        div(class='orderPage__set-rate_title') Сделать ставку
        if !isArchived
            form(class='orderPage__set-rate_form' id='rate-form')
                div(class='orderPage__set-rate_input')
                    div(class='custom-form__input')
                        input(class='orderPage__set-rate_input_in form-control' type='text' name='rate' placeholder='Сумма' maxlength="9")
                    div(class="error error-rate")
                        div(class="error__message")
                        div(class="error__main")
                button(class='orderPage__set-rate_button' id='send_mess') Поставить
