.settings_column {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 37px;
    text-align: left
}

.settings {
    --bg_reg: #FFFFFF;
    --main-text-color-reg: #3888C6;
    --reg-button: #EDEEF0;
    --reg-button-font-color: black;
    padding-top: 30px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    position: center;
    width: 660px;
    height: 690px;
    background-color: var(--bg_reg);
    text-align: center;
    border-radius: 10px
}

.settings_column {
    white-space: nowrap;
}

.settings__item {
    white-space: normal;
    display: inline-block;
    width: 17%;
    margin-left: 91px;
    vertical-align: top;
}

.settings_input {
    width: 216px;
    height: 30px;
    margin-bottom: 25px;
    margin-left: 5px;
    padding-left: 5px;
}

.settings_title {
    margin-bottom: 42px;
}

.save_settings {
    margin-left: 190px;
}

.settings_submit {
    padding: 13px 30px;
    margin: 5px 0 0 0;
    font-size: 15px;
    color: var(--reg-button-font-color);
    background-color: var(--reg-button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
}

.settings_submit:hover {
    transition: all 0.5s;
    background: var(--main-text-color-reg);
}

.setting__success_text {
    color: green;
    font-size: medium;
    text-align: center;
    margin-top: 15px;
}