div(class='navbar' id='myTopnav')
    a(class='navbar__title' href='/') FindFreelancer.ru
    div(class='navbar__navigate')
        .row
            button(class='navbar__order-button row__item' href='/vacancy-create')
                div(class='navbar__order-button_text' href='/vacancy-create') Разместить вакансию
            button(class='navbar__order-button row__item' href='/order-create') Разместить заказ
            div(class='row__item')
                img(src=require("@/static/img/user.svg").default class='navbar__img' href='/profile')
            div(class='row__item')
                a()
                    img(src=require("@/static/img/search.svg").default alt='')
    div.navbar__surfacing
        img(class='navbar__surfacing_item' src=require("@/static/img/Arrow_down.svg").default)
        div(class='navbar__surfacing_content')
            a(href='/vacancy-create') Разместить вакансию
            a(href='/order-create') Разместить заказ
            a(href='/profile') Профиль
