div(class='navbar' id='myTopnav')
    a(class='navbar__title' href='/orders') FindFreelancer.ru
    div(class='navbar__navigate')
        .row
            button(class='navbar__order-button row__item' href='/orders')
                div(class='navbar__order-button_text' href='/orders') Все заказы
            button(class='navbar__order-button row__item' href='/vacancies')
                div(class='navbar__order-button_text' href='/vacancies') Все вакансии
            div(class='row__item')
                img(src=require("@/static/img/user.svg").default class='navbar__img' href='/profile')
            div(class='row__item')
                a
                    img(src=require("@/static/img/search.svg").default alt='')
    div.navbar__surfacing
        img(class='navbar__surfacing_item' src=require("@/static/img/Arrow_down.svg").default)
        div(class='navbar__surfacing_content')
            a(href='/orders') Все заказы
            a(href='/vacancies') Все вакансии
            a(href='/profile') Профиль