@import "public/static/scss/main";
.navbar__order-button {
    @include form_dis($cntr, $cntr);
    @include uniq_form($primary_color);
    @include font(600, 16px, 19px, -0.4px, $white);

    margin: 0 32px;
    height: 37px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;

    text-align: center;

}
