div(class='navbar' id='myTopnav')
    a(class='navbar__title' href='/') FindFreelancer.ru
    div(class='navbar__navigate')
        .row
            div(class='navbar__registration_text')
                a(class='row__item') Регистрация
                div(class='navbar__registration_content')
                    a(href='/client-reg')  За клиента
                    a(href='/add-spec')  За исполнителя
            div.row__item
                a(class='navbar__enter_text' href='/login') Вход
    div.navbar__surfacing(tabindex="1")
        img(class='navbar__surfacing_item' src=require("@/static/img/Arrow_down.svg").default)
        div(class='navbar__surfacing_content')
            a(href='/client-reg')  За клиента
            a(href='/add-spec')  За исполнителя
            a(href='/login') Вход

