include inputes/settingsInput.pug

.root
    include navbars/navbarExecutor.pug
    .settings
        div(class='settings__bg-form')
            form.settings-container(action='')
                div(class='settings__form')
                    div(class='settings__column_left')
                        div(class='settings__label') Создать заказ
                        settingsInput(require("@/static/img/title.svg"), 'Заголовок')
                        settingsInput(require("@/static/img/card.svg"), 'Бюджет')
                        settingsInput(requer("@/static/img/date.svg"), 'ДД.ММ.ГГГГ')
                        div(class='settings-form__input-mini_bg')
                            #select
                    div(class='settings__column_right')
                        //TODO: Тоже сделать шаблоном
                        div(class='about-form__input')
                            textarea(class='settings__about__textarea ' placeholder='Описание' name='about')
                        // <div class="settings__img_container"></div>
                        div(class='settings-form__submit__container')
                            button(class='settings-form__submit')
                                span Создать
                                img(class='settings__submit__img' src='img/Arrow.svg' alt='')
