body, html {
    height: 100%;
    font: 17px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    margin: 0;
}

/* Добавляем цвет фона в верхнюю навигацию */
.navbar {
    z-index: 100;
    background-color: #FFFFFF;
    overflow: hidden;
}

/* Стиль ссылок внутри панели навигации */
.navbar a {
    float: right;
    display: block;
    color: #3888C6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*font-size: 17px;*/
}

.navbar__button_order {
    background: #EDEEF0;
    float: right;
    display: block;
    color: #3888C6;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-top: 13px;
    border: none;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 5px;
}

.main__container {
    display: grid;
    grid-template-columns: [one-eighty] auto [one-eighty] 200px [one-eighty] auto [one-eighty] 200px [one-eighty] auto;
}

.main__container_center {
    grid-column: one-eighty 2 / one-eighty 5;
}

div.navbar__button_title a {
    float: left;
    display: block;
    color: #0088cc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*font-size: 17px;*/
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Добавляем верхний отступ к содержимому страницы, чтобы предотвратить внезапное быстрое перемещение
(поскольку панель навигации получает новое положение вверху страницы (position: fixed и top: 0) */
.sticky + .login__content {
    padding-top: 60px;
}
