.profile-content {
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 4%;
    padding-bottom: 5%;
    background-color: white;
    border-radius: 10px;
}

.profile_photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
}

.profile__column_text {
	white-space: nowrap;
}

.profile__item_name {
	white-space: normal;	
	display: inline-block;
	width: 33%;
    padding-left: 5%;
	vertical-align: top;
}

.profile__column_text .profile__item_name:first-child {
	margin-right: 0%;
}

ul {
    padding: 0; /* Убираем поля */
    margin-left: 20px; /* Отступ слева */
}

.good_reviews {
    color: #00CD5E;
}

.bad_reviews {
    color: crimson;
}

/*div {*/
/*    font: 100% sans-serif;*/
/*}*/

a {
    color: #3888C6;
    text-decoration: none;
}

.name {
    margin-left: 1%;
    margin-top: 50px;
    font: 27px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    color: #3888C6;
}

.settings {
    margin-top: 60px;
}

.spec {
    color: #3888C6;
    font: bold 17px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}

.icon {
    max-width: 20px;
    max-height: 20px; 
    margin-right: 1%;
    float: left;
}

.profile__about {
    margin-left:7%;
    color: #3888C6;
    font: 27px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}

.profile__definition_text {
    margin-left: 7%;
    margin-right: 45%;
}

.margin-inc > * {
    margin-left: 5px;
}
