.profile-content {

    --bg_prof: white;
    --good_review: #00CD5E;
    --bad_review: crimson;
    --text-color: #3888C6;

    margin-left: 9%;
    margin-right: 9%;
    margin-top: 4%;
    padding-bottom: 5%;
    background-color: var(--bg_prof);
    border-radius: 10px;
}

.profile_photo {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.profile__column_text {
	white-space: nowrap;
}

.profile__item_name {
	white-space: normal;	
	display: inline-block;
	width: 33%;
    padding-left: 5%;
	vertical-align: top;
}

.profile__column_text .profile__item_name:first-child {
	margin-right: 0;
}

ul {
    padding: 0; /* Убираем поля */
    margin-left: 20px; /* Отступ слева */
}

.good_reviews {
    color: var(--good_review);
}

.bad_reviews {
    color: var(--bad_review);
}

a {
    color: var(--text-color);
    text-decoration: none;
    padding-left: 5px;
}

.name {
    margin-left: 1%;
    margin-top: 50px;
    font: 27px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    color: var(--text-color);
}

.settings_profile_button {
    margin-top: 60px;
}

.spec {
    color: var(--text-color);
    font: bold 17px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}

.icon {
    max-width: 20px;
    max-height: 20px; 
    margin-right: 1%;
    float: left;
}

.profile__about {
    margin-left:7%;
    color: var(--text-color);
    font: 27px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
}

.profile__definition_text {
    margin-left: 70px;
    margin-right: 70px;
}

.margin-inс {
    margin-left: 5px;
}

#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 153px;
    height: 32px;
    margin-right: 10px;
}

#upload-container label {
    color: var(--text-color);
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#upload-container div {
    position: relative;
    z-index: 10;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

.profile__item_name_exit {
    float: right;
    padding: 0 168px;
}

.profile__name {
    width: max-content;
}
