.registration a {
    color: #fff;
}

.registration a:hover {
    text-decoration: none;
}

.registration {
    padding-top: 30px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    position: center;
    width: 450px;
    height: 560px;
    background-color: #FFFFFF;

    text-align: center;
    border-radius: 10px;
    /*padding-bottom: 20px;*/

}

.registration h2 {
    color: #3888C6;
}

select {
    width: 311px;
    height: 35px;
    margin-bottom: 25px;
    padding-left: 4px;
    margin-left: 32px;
}

.registration__input {
    width: 300px;
    height: 30px;
    margin-bottom: 25px;
    margin-left: 32px;
    padding-left: 5px;
}

.dws-submit {
    padding: 13px 30px;
    margin: 5px 0 0 0;
    font-size: 15px;
    color: black;
    background-color: #EDEEF0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dws-submit:hover {
    transition: all 0.5s;
    background: #3888C6;
}

.registration__input::before {
    position: absolute;
    font: 17px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    padding: 10px 0 0 0;
    color: #3888C6;
}
