.registration {

    --bg_reg: #FFFFFF;
    --main-text-color: #3888C6;
    --reg-button: #EDEEF0;
    --reg-button-font-color: black;

    padding-top: 30px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    position: center;
    width: 450px;
    height: 560px;
    background-color: var(--bg_reg);

    text-align: center;
    border-radius: 10px;

}

.registration h2 {
    color: var(--main-text-color);
}

select {
    width: 311px;
    height: 35px;
    margin-bottom: 25px;
    padding-left: 4px;
    margin-left: 32px;
}

.registration__input {
    width: 300px;
    height: 30px;
    margin-bottom: 25px;
    margin-left: 32px;
    padding-left: 5px;
}

.dws-submit {
    padding: 13px 30px;
    margin: 5px 0 0 0;
    font-size: 15px;
    color: var(--reg-button-font-color);
    background-color: var(--reg-button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dws-submit:hover {
    transition: all 0.5s;
    background: var(--main-text-color);
}

.registration__input::before {
    position: absolute;
    font: 17px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
    padding: 10px 0 0 0;
    color: var(--main-text-color);
}
