.registration a {
    color: #fff;
}

.registration a:hover {
    text-decoration: none;
}

.registration {

    padding-top: 30px;
    width: 450px;
    height: 570px;

    background-color: rgba(77, 42, 0, 0.9);
    margin: 60px auto 0 auto;
    text-align: center;
    padding-bottom: 20px;

}

.registration h2 {
    color: #fff;
}

select {
    width: 300px;
    height: 35px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding-left: 40px;
}

.registration__input {
    width: 300px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding-left: 45px;
}

.registration__input input:hover {
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}

.dws-select select:hover {
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}

.dws-submit {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #57B96D;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.dws-submit:hover {
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}

.registration__input::before {
    font-family: "FontAwesome";
    position: absolute;
    font-size: 30px;
    padding: 10px 0 0 7px;
    color: #2c536c;
}
