.login-window {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 100px auto 0;
    padding: 50px;
    border-radius: 10px;
}

.label {
    margin: 10px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: #4f4f4f;
}

.login {
    margin: 5px 10px;
    padding: 5px;
}

.password {
    margin: 5px 10px;
    padding: 5px;
}

.enter {
    background-color: green;
    height: 30px;
    border: none;
    color: white;
    text-align: center;
    font-size: 12px;
    margin: 10px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
}

.forgot-pass {
    margin: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    width: 150px;
}