extends layout/main

block links
    link(href="../style/index.css" rel="stylesheet")
    link(href="../style/navbar.css" rel="stylesheet")


block content
    div(class="main")
        div(class="container")
            div(class="center")
                div(class="main-text") Миллион исполнителей готовы вам помочь
                button(class="btn") Найти исполнителя


block script
    script(src="../js/navbar.js")
