@import "public/static/scss/main";

.login {
  //margin-top: 19%;
  @include main-block(0);
  margin: 19% 0 0 0;
  //150px

  &__bg-form {
    width: auto;
    @include uniq_form($white);

    filter: drop-shadow(0px 4px 64px rgba(34, 57, 70, 0.09));
  }
}

