body {
    --bg-body: #EDEEF0;

    /* Центрируем и красиво масштабируем изображение */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-body);
}

#root {

    position: relative;

    width: 100vw;
    /*ПЕРЕКРЫВАЕТ ДВИГАЮЩИЕСЯ МЕНЮ ПРИ ДВИЖЕНИИ*/
    height: 100vh;

    /* Используем изображение */
    /*background-image: url("https://static-cse.canva.com/blob/194831/Green-Financial-Services-Corporate-Zoom-Background.png");*/
}

.main__container {
    --button_bg: #FFFFFF;
    --button_font: #3888C6;
    --button_focus-color: #edeef0;
    --index-bg: #bf5e5e;
    --main_text-color: #5d5959;

    --login_padding: 16px;
}

/* Контент страницы */
.login__content {
    padding: var(--login_padding)
}

/* Главная кнопка */
.main__container .menu__button_client {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: var(--button_bg);
    color: var(--button_font);
    font-size: 2vw;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.main__container .menu__button_work {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 1;
    color: var(--button_font);
    font-size: 1vw;
    cursor: pointer;
}

.main__container .menu__button_client:hover {
    background-color: var(--button_focus-color);
}

.main_text {
    position: absolute;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    top: 25%;
    left: 50%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    border: none;
    border-radius: 5px;

    font-size: 3vw;
    color: var(--main_text-color);
}