.orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orders__order {
    display: flex;
    flex-direction: row;
    justify-content: left;

    background: var(--white);
    /* shadow/01 */

    box-shadow: 0 0 64px rgba(13, 17, 38, 0.05);
    border-radius: 8px;

    flex: 0 0 auto;

    margin-top: 49px;

    width: 661px;
    height: 239px;
}

.orders__order_img-bg {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 37px 0 0 44px;
}

.orders__order_img {
    width: 140px;
    height: 140px;
}
.orders__order_nickname {
    margin-top: 9px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    letter-spacing: -0.4px;
}

.orders__order_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 26px 18px 17px 37px;
    
}

.orders__order_title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: -0.4px;
    color: var(--dark);
    letter-spacing: -1.5px;
}

.orders__order_category {
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: left;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 137% */

    letter-spacing: -0.4px;
}

.orders__order_category-text {
    color: var(--dark);
}

.orders__order_category-button {
    padding: 0 8px;
    margin-left: 16px;
    background: var(--secondary_color);
    border-radius: 4px;

    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;

    /* White */

    color: var(--white);
}

.orders__order_definition {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    letter-spacing: -0.4px;

    /* Paragraph */
    color: var(--paragraph);
}

.orders__order_stats {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.orders__order_stat {
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 112px;
    height: 26px;
}

.orders__order_stat-img {
    width: 24px;
    height: 24px;
}

.orders__order_stat-data {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    letter-spacing: -0.2px;

    margin-left: 8px;
    color: var(--primary_color);
}
.orders {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 49px;
}
.orders__title {
    align-self: flex-start;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 22px;

    letter-spacing: -0.4px;
    margin-top: 55px;
}
.orders__content {
    width: 100%;
    display: flex;
}
.orders__list {
    display: flex;
    flex-direction: column;
}

.show-more-button {
    width: 430px;
    height: 40px;
    margin-top: 49px;
    border: 2px solid #DFE4EA;
    box-sizing: border-box;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.4px;
    background-color: var(--white);

    color: #18214D;
}
.filters {
    display: flex;
    flex-direction: column;

    width: 408px;
    height: 425px;
    flex: 0 0 auto;

    background: #FFFFFF;
    /* shadow/01 */

    box-shadow: 0px 0px 64px rgba(13, 17, 38, 0.05);
    border-radius: 8px;
    margin-left: 88px;
    margin-top: 49px;
}
.filters__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    /* or 92% */

    letter-spacing: -0.4px;
    margin: 25px 0 0 25px;

}
.filters__budget {
    display: flex;
    flex-direction: row;

    flex: 1 0 auto;

    margin: 25px 0 0 25px;
}
.filters__budget_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: -0.4px;
}
.filters__form {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
}
.filters__form input {
    margin-bottom: 11px;
}
.filters__form input:last-child {
    margin-bottom: 0px;
}

.filters__form_input {
    width: 237px;
    height: 46px;
    background: var(--placeholder);
    border-radius: 8px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.4px;
    padding: 9px 18px 9px 18px;

    color: var(--dark);
}

.filters__submit {
    margin: 0 0 19px 44px;
    width: 168px;
    height: 50px;
    border-radius: 8px;
    background-color: var(--primary_color);
    color: var(--white);

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.4px;
}
  
