.specMainWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.specMainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 105px;
    flex-direction: column;
}
.specMainContent__title {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1.5px;
    color: var(--dark);
}
.specMainContent__select {
    margin-top: 75px;
}