.clear {
	padding: 0;
    margin: 0;
}

.error {
	font-size: 16px;
	color: red;
}

.error__box {
	margin-bottom: -20px;
	margin-top: 5px;
}

/*margin-bottom: -20px;*/
/*margin-top: 5px;*/

.error:before {
	box-sizing: content-box;
	width: 0;
	height: 0;
	content: '';
	position: absolute;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;

}

.form-control_error {
	/*margin-top: 5px;*/
	border:solid 1.5px var(--secondary_color);
	
}

.form-control_valid {
	border:solid 1.5px var(--primary_color) ;
}

.label-reg {
	margin-top: 0%;
}

.error__repeat_password {
	margin-right: 125px;
}

.error_message {
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 22px;
	letter-spacing: -0.4px;
	margin-top: 10px;
	color: red;
}

.error-rate {
	font-size: 24px;
	color: white;
}