.clear {
	padding: 0;
    margin: 0;
}

.error {
	font-size: 16px;
	color: red;
}

.error__box {
	margin-bottom: -20px;
	margin-top: 5px;
}

/*margin-bottom: -20px;*/
/*margin-top: 5px;*/

.error:before {
	box-sizing: content-box;
	width: 0;
	height: 0;
	content: '';
	position: absolute;
	border-right: 8px solid transparent;
	border-left: 8px solid transparent;

}

.form-control_error {
	/*margin-top: 5px;*/
	box-sizing: content-box;
	border:solid 1.5px #EE3465;
	
}

.form-control_valid {
	box-sizing: content-box;
	border:solid 1.5px #345DEE ;
}

.label-reg {
	margin-top: 0%;
}

.error__repeat_password {
	/*order: 0;*/
	/*justify-self: flex-end;*/
	/*align-self: flex-end;*/
	margin-right: 125px;
}