mixin navbarContent()
    a(href="#") Регистрация
    a(href="#") Вход
    button(class="btn-z") Разместить заказ
    div(class="home-bottom")
        a(class="active" href="#") FL


div(class="topnav" id="myTopnav")
    div(class="container")
        div(class="center")
            +navbarContent
