mixin indexContent()
    div(class="main_text") Миллион исполнителей готовы вам помочь
    div(class="menu__buttons")
        button(class="menu__button_client") Найти исполнителя
        a(class="menu__button_work") Найти работу


div(class="main")
    div(class="main__container")
        div(class="main__container_center")
            +indexContent
