div(class='registration')
    form(action="" id="feedback" class="feedback")
        h2 Регистрация
        label(for="Привет" class="label-reg" ) Введите логин
        div(class='registration__input form-control')
            input(type="text" class="registration__input form-control" name="user_name" placeholder="Пример: 1994Ivanov")
        div(class=" error" name="bizarro")
        label(for="Привет" class="label-reg" ) Введите фамилию
        div(class='registration__input form-control')
            input(type="text" class="registration__input form-control" name="second_name" placeholder="Пример: Иванов")
        div(class=" error" name="bizarro")
        label(for="Привет" class="label-reg" ) Введите имя
        div(class='registration__input form-control')
            input(type="text" class="registration__input form-control" name="first_name" placeholder="Пример: Иван" )
        div(class=" error" name="bizarro")
        label(for="Привет" class="label-reg" ) Выберите специальность из списка
        div(class='registration__input form-control')
            select(name="specializes" class="form-control")
                option(value="err") Выберите специальность
                option(value="Фронтенд разработчик") Фронтенд разработчик
                option(value="Бекенд разработчик") Бекенд разработчик
                option(value="Инженер") Инженер
                option(value="Архитектор") Архитектор
                option(value="Лингвист") Лингвист
        div(class=" error" name="bizarro")
        label(for="Привет" class="label-reg" ) Введите email
        div(class='registration__input form-control')
            input(type="text" id="usermail" class="registration__input form-control" name="email" placeholder="Пример: Ivanov@mail.ru")
        div(class=" error" name="bizarro")
        label(for="Привет" class="label-reg" ) Введите пароль
        div(class='registration__input ')
            input(type="password" class="registration__input form-control" name="password" placeholder="Пример: IvanIvanov1994")
        div(class=" error" name="bizarro")
        label(for="Привет" class="label-reg" ) Введите пароль
            div(class='registration__input ')
                input(type="password" class="registration__input form-control" name="password_repeat" placeholder="Пример: IvanIvanov1994")
            div(class=" error" name="bizarro")
        input(id="send_mess" type="submit" class="dws-submit" name="submit" value="Зарегистрироваться")
        //- button(id="send_mess" type="submit" class="dws-submit")

