include orderInOrdersPage
include ../../vacancies/vacancyInVacanciesPage

.orders
    if isArchive === true
        div(class='orders__title') Архив
    else
        if isMyOrders === true
            if isI === true
                div(class='orders__title') Мои заказы
            else
                div(class='orders__title') Заказы пользователя
        else
            div(class='orders__title') Актуальные заказы
    div(class='orders__content')
        div(class='orders__list')
            div(class='search')
                if !isArchive && !isMyOrders
                    form#search__form
                        input(class='search__form_input' placeholder='Введите запрос' name='search')
                        button(class='search__form_submit') Найти
            each order in orders
                +orderInOrdersPage(order.avatar?order.avatar:require('@/static/img/profileAvatar.svg').default, order.login, order.name, order.category, order.definition, order.date, order.budget, order.id, order.customerId, isArchive, isExecutor)
            if isArchive
                each vacancy in archiveVacancies
                    +vacancyInVacanciesPage(vacancy.avatar ? vacancy.avatar : require('@/static/img/profileAvatar.svg').default, vacancy.login, vacancy.name, vacancy.category, vacancy.definition, vacancy.salary, vacancy.id, isArchive)

            if orders.length !== 0
                //button.show-more-button Показать еще
            else
                div(class="orderPage__no-comments") Заказов пока нет
        form.filters
            div(class='filters__title') Фильтры
            div(class='filters__budget')
                div(class='filters__budget_title') Бюджет
                div(class='filters__form')
                    input(type='text' placeholder='От' class='filters__form_input')
                    input(type='text' placeholder='До' class='filters__form_input')
