include ../../vacancies/vacancyInVacanciesPage

.orders
    if isMyVacancies === true
        if isI === true
            div(class='orders__title') Мои вакансии
        else
            div(class='orders__title') Вакансии пользователя
    else
        div(class='orders__title') Актуальные вакансии
    div(class='orders__content')
        div(class='orders__list')
            div(class='search')
                if !isArchive && !isMyVacancies
                    form#search__form
                        input(class='search__form_input' placeholder='Введите запрос' name='search')
                        button(class='search__form_submit') Найти
            each vacancy in vacancies
                +vacancyInVacanciesPage(vacancy.avatar?vacancy.avatar:require('@/static/img/profileAvatar.svg').default, vacancy.login, vacancy.name, vacancy.category, vacancy.definition, vacancy.salary, vacancy.id)
            if vacancies.length !== 0
                //button.show-more-button Показать еще
            else
                div(class="orderPage__no-comments") Вакансий пока нет
        //form.filters
        //    div(class='filters__title') Фильтры
        //    div(class='filters__budget')
        //        div(class='filters__budget_title') Бюджет
        //        div(class='filters__form')
        //            input(type='text' placeholder='От' class='filters__form_input')
        //            input(type='text' placeholder='До' class='filters__form_input')
