div(class='container2')
    form(action="")
        h2 Регистрация
        div(class='dws-input')
            input(type="text" name="Логин" placeholder="Введите логин")
        div(class='dws-input')
            input(type="text" name="Фамилия" placeholder="Введите фамилию")
        div(class='dws-input')
            input(type="text" name="Имя" placeholder="Введите имя")
        div(class='dws-input')
            input(type="text" name="Email" placeholder="Введите почту")
        div(class='dws-input')
            input(type="text" name="Телефон" placeholder="Введите телефон")
        div(class='dws-input')
            input(type="text" name="Пароль" placeholder="Введите пароль")
        input(type="submit" class="dws-submit" name="sumbit" value="Зарегестрироваться")
