div(class='registration')
    form(action="" id="feedback" class="feedback")
        h2 Регистрация
        label(class="label-reg" ) Введите логин
        div(class='registration__input form-control')
            input(type="text" class="registration__input form-control" name="login" placeholder="Пример: 1994Ivanov")
        div(class=" error")
        label(class="label-reg" ) Введите фамилию
        div(class='registration__input form-control')
            input(type="text" class="registration__input form-control" name="second_name" placeholder="Пример: Иванов")
        div(class=" error")
        label(class="label-reg" ) Введите имя
        div(class='registration__input form-control')
            input(type="text" class="registration__input form-control" name="first_name" placeholder="Пример: Иван" )
        div(class=" error")
        label(class="label-reg" ) Введите email
        div(class='registration__input form-control')
            input(type="text" id="usermail" class="registration__input form-control" name="email" placeholder="Пример: Ivanov@mail.ru")
        div(class=" error")
        label(class="label-reg" ) Введите пароль
        div(class='registration__input ')
            input(type="password" class="registration__input form-control" name="password" placeholder="Пример: IvanIvanov1994")
        div(class=" error")
        label(class="label-reg" ) Повторите пароль
            div(class='registration__input ')
                input(type="password" class="registration__input form-control" name="password_repeat" placeholder="Пример: IvanIvanov1994")
            div(class=" error")
        input(id="send_mess" type="submit" class="dws-submit" name="submit" value="Зарегистрироваться")
        //- button(id="send_mess" type="submit" class="dws-submit")

