mixin indexContent()
    div(class="main_text") Миллион исполнителей готовы вам помочь
    button(class="menu__button") Найти исполнителя


div(class="main")
    div(class="main__container")
        div(class="main__container_center")
            +indexContent
