mixin navbarContent()
    if authorized
        a(class="navbar_icon", href="/profile")
            img(class="icon", src=profIcon)
        button(class="navbar__button_order") Разместить заказ
    else
        a(href="/login") Вход
        a(href="/clientReg") Клиент
        a(href="/workerReg") Исполнитель
    a(href="/orderPage") Разместить заказ
    div(class="navbar__button_title")
        a(class="active" href="/") FL


div(class="navbar" id="myTopnav")
    div(class="main__container")
        div(class="main__container_center")
            +navbarContent
