div(class='registration' style="height: 740px;")
    form(action="" id="feedback" class="feedback")
        h2 Ваш заказ
        label(class="label-reg" ) Введите заголовок
        div(class='registration__input form-control')
            input(type="text" name="order_name" placeholder="Тема" class="registration__input form-control")
        div(class="error")
        label(class="label-reg" ) Текст заказа
        div(class='registration__input form-control textar' )
            textarea(name="description" placeholder="Текст заказа"  class="textarea__control form-control")
        div(class="error" id="kostyl")
        label(class="label-reg" ) Введите ваше имя
        div(class='registration__input form-control')
            input(type="text" name="first_name" placeholder="Иван" class="registration__input form-control")
        div(class="error")
        label(class="label-reg" ) Выберите вашего специалиста
        div(class='registration__input form-control')
            select(name="specializes" class='form-control')
                option(value="err") Выберите специальность
                option(value="Фронтенд разработчик") Фронтенд разработчик
                option(value="Бекенд разработчик") Бекенд разработчик
                option(value="Инженер") Инженер
                option(value="Архитектор") Архитектор
                option(value="Лингвист") Лингвист
        div(class="error")
        label(class="label-reg" ) Введите цену в рублях
        div(class='registration__input form-control')
            input(type="text" name="budget" placeholder="1000" class="registration__input form-control")
        div(class="error")
        input(id="send_mess" type="submit" class="dws-submit" name="submit" value="Создать заказ")


