mixin responseOrder(userAvatar, userLogin, userRate, responseDate)
    div(class='orderPage__response')
        div(class='orderPage__response_img-bg')
            img(class='orderPage__response_img' src=userAvatar alt='')
            div(class='orderPage__response_name')= userLogin
        div(class='orderPage__response_stats')
            div(class='orderPage__response_stat')
                img(src='Icons/support.svg' alt='' class='orderPage__response_stat-img')
                div(class='orderPage__response_stat-text') Сделаю за: #{userRate}
            div(class='orderPage__response_stat')
                img(src='Icons/date.svg' alt='' class='orderPage__response_stat-img')
                div(class='orderPage__response_stat-text') Дата отклика #{responseDate}