div(class="settings")
    form(action="")
        h2(class="settings_title") Настройки
        div(class='settings_column')
            div(class='settings__item')
                p(class='settings_column') Логин
                p(class='settings_column') Фамилия
                p(class='settings_column') Имя
                p(class='settings_column') E-mail
                p(class='settings_column') Новый пароль
            div(class='settings__item')
                div(class='settings_input')
                    input(type="text" class="settings_input" name="user_name" value=nickName)
                div(class='settings_input')
                    input(type="text" class="settings_input" name="second_name" value=surname)
                div(class='settings_input')
                    input(type="text" class="settings_input" name="first_name" value=name)
                div(class='settings_input')
                    input(type="text" class="settings_input" name="email" value=email readonly)
                div(class='settings_input')
                    input(type="password" class="settings_input" name="password" placeholder="********")
            div(class="save_settings")
                input(type="submit" class="settings_submit" value="Сохранить")
