div(class='login__content')
    form(class='login__window', id='login__window')
        div(class='login__window_label') Вход
        input(class='login__window_login' name='email' placeholder='Почта' type='text')
        input(class='login__window_password' name='password' placeholder='Пароль' type='password')
        input(type="submit" class="login__window_enter" value="Войти")
        button(class='login__window_forgot-pass') Забыли свой пароль?
