div(class='login__content')
    div(class='login__window')
        div(class='login__window_label') Вход
        input(class='login__window_login' placeholder='Логин' type='text')
        input(class='login__window_password' placeholder='Пароль' type='password')
        button(class='login__window_enter') Войти
        button(class='login__window_forgot-pass') Забыли свой пароль?
