div(class='content')
    div(class='login-window')
        div(class='label') Вход
        input(class='login' placeholder='Логин' type='text')
        input(class='password' placeholder='Пароль' type='password')
        button(class='enter') Войти
        button(class='forgot-pass') Забыли свой пароль?
