div(class='registration')
    form(action="" id="form" class="form")
        h2 Регистрация
        //- div(class='registration__input ')
        //-     input(type="text" class="registration__input" name="Логин" placeholder="Введите логин")
        //-     span(id="text_val")
        //- div(class='registration__input ')
        //-     input(type="text" class="registration__input" name="Фамилия" placeholder="Введите фамилию")
        //-     span(id="text_val")
        //- div(class='registration__input ')
        //-     input(type="text" class="registration__input" name="Имя" placeholder="Введите имя")
        //-     span(id="text_val")
        //- div(class='registration__input ')
        //-     select (name="list1")
        //-         option(value="") Выберите специальность
        //-         option(value="1") Фронтенд разработчик
        //-         option(value="2") Бекенд разработчик
        //-         option(value="3") Инженер
        //-         option(value="4") Архитектор
        //-         option(value="5") Лингвист 
        div(class='registration__input form-control')
            input(type="text" id="email" class="registration__input form-control" name="email" placeholder="Введите почту")
            small(id="error")
        //- div(class='registration__input ')
        //-     input(type="text" class="registration__input" name="Телефон" placeholder="Введите телефон")
        //-     span(id="text_val")
        //- div(class='registration__input ')
        //-     input(type="text" class="registration__input" name="Пароль" placeholder="Введите пароль")
        //-     span(id="text_val")
        //- input(type="submit" class="dws-submit" name="submit" value="Зарегистрироваться")
        button(id="send_mess" type="submit" class="dws-submit")