div(class='registration')
    form(action="" id='worker_registration')
        h2 Регистрация
        div(class='registration__input')
            input(type="text" class="registration__input" name="user_name" placeholder="Введите логин")
        div(class='registration__input')
            input(type="text" class="registration__input" name="second_name" placeholder="Введите фамилию")
        div(class='registration__input')
            input(type="text" class="registration__input" name="first_name" placeholder="Введите имя")
        div(class='registration__input')
            select(name="list")
                option(value="") Выберите специальность
                option(value="FrontEnd") Фронтенд разработчик
                option(value="BackEnd") Бекенд разработчик
                option(value="Engineer") Инженер
                option(value="Architect") Архитектор
                option(value="Linguist") Лингвист
        div(class='registration__input')
            input(type="text" class="registration__input" name="email" placeholder="Введите почту")
        div(class='registration__input')
            input(type="text" class="registration__input" placeholder="Введите телефон")
        div(class='registration__input')
            input(type="text" class="registration__input" name="password" placeholder="Введите пароль")
        input(type="submit" class="dws-submit" name="submit" value="Зарегистрироваться")
