div(class='registration')
    form(action="" id="feedback" class="feedback")
        h2 Регистрация
        div(class='registration__input form-control')
            label(for="Привет" class="label__reg") 
            input(type="text" class="registration__input form-control" name="username" placeholder="Введите логин")
        div(class=" error" name="bizarro")
        div(class='registration__input form-control')
            input(type="text" class="registration__input form-control" name="lastName" placeholder="Введите фамилию")
        div(class=" error" name="bizarro")
        div(class='registration__input form-control')
            input(type="text" class="registration__input form-control" name="firstName" placeholder="Введите имя")
        div(class=" error" name="bizarro")
        div(class='registration__input form-control')
            select(name="list1" class="form-control")
                option(value="0") Выберите специальность
                option(value="1") Фронтенд разработчик
                option(value="2") Бекенд разработчик
                option(value="3") Инженер
                option(value="4") Архитектор
                option(value="5") Лингвист 
        div(class=" error" name="bizarro")
        div(class='registration__input form-control')
            input(type="text" id="usermail" class="registration__input form-control" name="usermail" placeholder="Введите почту")
        div(class=" error" name="bizarro")
        div(class='registration__input ')
            input(type="text" class="registration__input form-control" name="phone" placeholder="Введите телефон")
        div(class=" error" name="bizarro")
        div(class='registration__input ')
            input(type="text" class="registration__input form-control" name="password" placeholder="Введите пароль")
        div(class=" error" name="bizarro")
        input(id="send_mess" type="submit" class="dws-submit" name="submit" value="Зарегистрироваться")
        //- button(id="send_mess" type="submit" class="dws-submit")