@import "public/static/scss/main";

#notification {
  font-family: "inter",sans-serif;

  position: absolute;
  min-width: 180px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: all 0.5s ease-in 0s;
  cursor: pointer;
  width: auto;
  padding: 10px;

  @include uniq_form($secondary_color);
  @include font(300, 18px, 44px, -0.4px, $white);

  top: 70px;
  right: 10px;
}
