.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex: 0 0 auto;

    height: 64px;

    /* ui/primary */
    background: var(--primary_color);
}

.navbar__title {
    margin: 14px 0 14px 64px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color : var(--white);
    line-height: 22px;

    text-align: center;
    letter-spacing: -0.4px;
}

.navbar__navigate {
    margin: 14px 64px 14px 0;
}

/* .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -32px;
} */

.navbar__order-button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary_color);

    margin: 0 32px;
    width: 159px;
    height: 37px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
}
.navbar__order-button_text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--white);
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.4px;
}

