.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;

    background-color: var(--white);

    margin: 160px 0 0 0;
}

.registration__bg-form {
    width: 542px;
    height: 608px;

    filter: drop-shadow(0px 4px 64px rgba(34, 57, 70, 0.09));
    border-radius: 8px;
    background-color: var(--white);
}

.registration__other_text {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--white);
    margin-top: 30px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    text-align: center;
    letter-spacing: -0.4px;
}

.registration__input-other {
    width: 236px;
    height: 62px;

    display: flex;
    background-color: var(--white);
    border: 2px solid var(--primary_color);
    border-radius: 8px;
}

.registration__input-other_in {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 160px;
    height: 60px;

    border-left: 2px solid var(--primary_color);

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */

    letter-spacing: -0.4px;
    padding: 0 7px;
}

.registration__input-other:hover {
   background-color: var(--neutral_color);
}

.registration__input-other_img {
    max-width: 33px;
    max-height: 33px;
    margin: 14px;
}

