include ../orders/orderInOrderPageExecutor
include ../rates/changeRate.pug
include ../rates/makeRate.pug
include ../rates/rateCustomer.pug
include ../responses/responseOrderExecutor.pug
include ../responses/responseOrderCustomer.pug
include ../responses/responseMinOrderExecutor.pug
include ../responses/responseMinOrderCustomer.pug

.orderPage
    +orderInOrderPageExecutor(creator.avatar, creator.title, creator.category, creator.definition, creator.date, creator.budget)
    div(class='orderPage__comments')
        div(class='orderPage__responses')
            div(class='orderPage__comments_title') Отклики
            if responses !== []
                div(class='orderPage__responses_scroll')
                    each user in responses
                        if isExecutor
                            +responseOrderExecutor(user.avatar, user.login, user.rate, user.date)
                        else
                            +responseOrderCustomer(user.avatar, user.login, user.rate, user.date)

                button(class='orderPage__comments_others') Показать ещё
            else
                div(class="asd") Нет откликов
        div(class='orderPage__rate')
            div(class='orderPage__comments_title') Минимальная ставка
                if minResponse.rate !== -1
                    if isExecutor
                        +responseMinOrderExecutor(minResponse.avatar, minResponse.name, minResponse.rate, minResponse.date)
                    else
                        +responseMinOrderCustomer(minResponse.avatar, minResponse.name, minResponse.rate, minResponse.date)
            if userRate === 0
                if isExecutor
                    +makeRate
            else
                if isExecutor
                    +changeRate(userRate)
                else
                    +rateCustomer(selectExecutor.avatar, selectExecutor.login, selectExecutor.rate, selectExecutor.date)
