include ../orders/orderInOrdersPage

.orders
    div(class='orders__title') Актуальные заказы
    div(class='orders__content')
        div(class='orders__list')
            each order in orders
                +orderInOrdersPage(order.avatar, order.login, order.name, order.category, order.definition, order.date, order.budget, order.id)
            button.show-more-button Показать еще
        form.filters
            div(class='filters__title') Фильтры
            div(class='filters__budget')
                div(class='filters__budget_title') Бюджет
                div(class='filters__form')
                    input(type='text' placeholder='От' class='filters__form_input')
                    input(type='text' placeholder='До' class='filters__form_input')
            button(class='filters__submit')
                | Применить
