include ../inputes/customFormInput
include ../inputes/customFormMiniInput
.registration
    div(class='registration__bg-form')
        form.custom-form(action='' id='registration__form')
            div(class='custom-form__label')= title
            +customFormInput(require('@/static/img/icon.svg').default, 'Логин', 'login', 'text')
            div(class=" error")
                div(class="error__message")
                div(class="error__main")
                    div(class="error__box")
                        ul(class="error__list")
                            li(class= "error__help") &#8226 Penis
                            li(class= "error__help") &#8226 Penis
                    div(class="error__arrow")
            +customFormInput(require('@/static/img/avatar.svg').default, 'Имя Фамилия', 'name', 'text')
            div(class=" error")
                div(class="error__message")
                div(class="error__main")
                    div(class="error__box")
                        ul(class="error__list")
                            li(class= "error__help") &#8226 Penis
                            li(class= "error__help") &#8226 Penis
                    div(class="error__arrow")
            +customFormInput(require('@/static/img/email.svg').default, 'Почта', 'email', 'text')
            div(class=" error")
                div(class="error__message")
                div(class="error__main")
                    div(class="error__box")
                        ul(class="error__list")
                            li(class= "error__help") &#8226 Penis
                            li(class= "error__help") &#8226 Penis
                            li(class= "error__help") &#8226 Penis
                            li(class= "error__help") &#8226 Penis
                    div(class="error__arrow")
            +customFormMiniInputs(require('@/static/img/block.svg').default, 'Пароль', require('@/static/img/block.svg').default, 'Подтвердите', 'password', 'passwordRepeat')
            button(class='custom-form__submit' id='send_mess') Зарегистрироваться
            div(id="err_place")
            div(class='registration__other_text') Или авторизуйтесь через
            div(class='registration__other_reg')
                div(class='custom-form__input-mini_bg')
                    button(class='registration__input-other')
                        img(class='registration__input-other_img' src=require('@/static/img/vk.svg').default alt='')
                        div(class='registration__input-other_in') ВКонтакте
                    button(class='registration__input-other')
                        img(class='registration__input-other_img' src=require('@/static/img/google.svg').default alt='')
                        div(class='registration__input-other_in') Google
