.specMainWrapper
    .specMainContent
        form#specForm
            div(class='specMainContent__title') Выберите специализацию
            div(class='specMainContent__select')
                #select
            button(class='custom-form__submit' id='send_mess') Выбрать
