include ../inputes/customFormInput
include ../inputes/customFormMiniInput
.settings
    div(class='settings__bg-form')
        form.settings-container(action='' id='settings-form')
            div(class='settings__form')
                div(class='settings__column_left')
                    div(class='settings__label') Настройки
                    +customFormInput(require('@/static/img/icon.svg').default, 'Логин', 'login', 'text', 'no-matter')
                    div(class=" error")
                        div(class="error__message")
                        div(class="error__main")
                            div(class="error__box")
                                ul(class="error__list")
                                    li(class= "error__help") &#8226 Penis
                                    li(class= "error__help") &#8226 Penis
                            div(class="error__arrow")
                    +customFormInput(require('@/static/img/avatar.svg').default, 'Имя Фамилия', 'name', 'text', 'no-matter')
                    div(class=" error")
                        div(class="error__message")
                        div(class="error__main")
                            div(class="error__box")
                                ul(class="error__list")
                                    li(class= "error__help") &#8226 Penis
                                    li(class= "error__help") &#8226 Penis
                            div(class="error__arrow")
                    +customFormInput(require('@/static/img/block.svg').default, 'Текущий пароль *', 'oldPassword', 'password')
                    div(class=" error")
                        div(class="error__message")
                        div(class="error__main")
                            div(class="error__box")
                                ul(class="error__list")
                                    li(class= "error__help") &#8226 Penis
                                    li(class= "error__help") &#8226 Penis
                            div(class="error__arrow")
                    +customFormMiniInputs(require('@/static/img/block.svg').default, 'Пароль', require('@/static/img/block.svg').default, 'Подтвердите', 'password', 'passwordRepeat', 'no-matter')

                div(class='settings__column_right')
                    //TODO: Тоже сделать шаблоном
                    div(class='about-form__input')
                        textarea(class='settings__about__textarea form-control no-matter' placeholder='О себе' name='about')
                    div(class=" error")
                        div(class="error__message")
                        div(class="error__main" id="textAr")
                            div(class="error__box")
                                ul(class="error__list")
                                    li(class= "error__help") &#8226 Penis
                                    li(class= "error__help") &#8226 Penis
                            div(class="error__arrow")
                    div(class='settings-form__submit__container')
                        button(class='settings-form__submit' id='send_mess')
                            span Сохранить
                            img(class='settings__submit__img' src=require('@/static/img/arrow.svg').default alt='')
