mixin changeRate(userRate)
    div(class='orderPage__set-rate')
        div(class='orderPage__set-rate_title') Ваша ставка
        div(class='orderPage__set-rate_price')= userRate
        form(class='orderPage__set-rate_form')
            div(class='orderPage__set-rate_input')
                div(class='custom-form__input')
                    input(class='orderPage__set-rate_input_in' type='text' name='rate' placeholder='Новая цена ₽')
            div(class='orderPage__set-rate_buttons')
                button(class='orderPage__set-rate_button') Изменить
                button(class='orderPage__set-rate_button-del') Удалить