mixin makeRate
    div(class='orderPage__set-rate')
        div(class='orderPage__set-rate_title') Сделать ставку
        form(class='orderPage__set-rate_form')
            div(class='orderPage__set-rate_input')
                div(class='custom-form__input')
                    input(class='orderPage__set-rate_input_in' type='text' name='rate' placeholder='Сумма')
            button(class='orderPage__set-rate_button') Поставить

