@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body {
    font-family: 'Inter', sans-serif;
}

:root {
    --primary_color: #345DEE;
    --secondary_color: #EE3465;
    --neutral_color: #DFE4EA;
    --placeholder: #EFF2F6;
    --white: #FFF;
    --black: #000000;
    --dark: #18214D;
}

.root {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex: 0 0 auto;

    position: absolute;
    height: 64px;
    left: 0;
    right: 0;
    top: 0;

    /* ui/primary */
    background: var(--primary_color);
}

.navbar__title {
    margin: 14px 0 14px 64px;

    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color : var(--white);
    line-height: 22px;

    text-align: center;
    letter-spacing: -0.4px;
}

.navbar__navigate {
    margin: 14px 64px 14px 0;
}

.navbar__registration_text {
    display: flex;
    height: 64px;
    align-items: center;
}

.navbar__registration_content {
    margin-top: 155px;
    display: none;
    position: absolute;
    background-color: var(--placeholder);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1001;
}

.navbar__registration_content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.main-buttons__sector:hover {
    transform: scale(1.05);
    transition-duration: 0.1s;
}

.navbar__registration_text:hover .navbar__registration_content {
    display: block;
}

.navbar__registration_content a:hover {
    background-color: var(--neutral_color);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);

    margin: 0 -32px
}

.row__item {
    padding: 0 32px
}

.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 144px 0 0 0;
}

.title {
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 62px;
    margin: 0 0 107px 0;
}

.main-buttons {
    display: flex;
    flex-direction: row;
}

.main-buttons__sector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 304px;
    box-shadow: 0 0 64px 24px rgba(34, 57, 70, 0.09);
    border-radius: 32px;
    margin-left: 12px;
    margin-right: 12px;
}

.main-buttons__img {
    position: relative;
    width: 350px;
    height: 262px;
    left: calc(50% - 350px/2);
    top: -66px;
    margin-bottom: -16px;
}

.main-buttons__label {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height, or 136% */

    text-align: center;
    letter-spacing: -0.55px;
}
