@import 'templatesMedia';
@media screen and (max-width: $width-adapt) {
  .create{
    &__about-textarea {
      width: 300px;
    }

    &__bg-form {
      width: 96%;
      height: 100%;
    }
  }
}
