@import 'rootMedia.scss';
@media screen and (max-width: $width-adapt) {
  .orderPage {
    &__feedback {
      &_window {
        margin-top: 33px;
        width: 100%;
      }

      &_skip {
        width: 75%;
      }
    }
  }
}