@import "../scss/main.scss";

@media screen and (max-width: 720px) {
  .main {
    &__title {
      text-align: center;
      margin-top: -50px;
      margin-bottom: 0;
    }
  }

  .main-buttons {
    flex-wrap: wrap;
    justify-content: center;

    &__sector {
      width: 250px;
      height: 200px;
      margin-top: 55px;
    }

    &__label {
      margin-top: -30px;
      font-size: 22px;
    }

    &__img {
      left: 0;
      width: auto;
      height: auto;

      & img {
        width: 250px;
      }
    }
  }
}