@import "../scss/main.scss";
@import 'templatesMedia';

@media screen and (max-width: $width-adapt) {
  .navbar {
    &__navigate {
      display: none;
    }

    &__title {
      margin-left: 25px;
    }

    &__surfacing {
      display: flex;
      height: 30px;
      width: 30px;
      align-items: center;
      margin-right: 25px;

      &_item {
        cursor: pointer;
        width: 25px;
        height: 22px;
      }

      &_content {
        margin-left: -130px;
        margin-top: 177px;
        display: none;
        position: absolute;
        background-color: $placeholder;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1001;

        & a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        & a:hover {
          background-color: $neutral_color;
        }
      }
    }

    &__surfacing:hover .navbar__surfacing_content {
      display: block;
    }
  }
}

@media screen and (max-width: $width-adapt-ipad) and (min-width: $width-adapt + 1) {
  .navbar {
    &__navigate {
      display: none;
    }

    &__title {
      margin-left: 25px;
    }

    &__surfacing {
      display: flex;
      height: 30px;
      width: 30px;
      align-items: center;
      margin-right: 25px;

      &_item {
        cursor: pointer;
        width: 25px;
        height: 22px;
      }

      &_content {
        margin-left: -215px;
        margin-top: 201px;
        display: none;
        position: absolute;
        background-color: $placeholder;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1001;

        & a {
          float: none;
          color: black;
          font-size: 22px;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        & a:hover {
          background-color: $neutral_color;
        }
      }
    }

    &__surfacing:hover .navbar__surfacing_content {
      display: block;
    }
  }
}
