@import 'templatesMedia';
@media screen and (max-width: $width-adapt1) {
  .filters {
    flex-wrap: wrap;
    margin-top: 150px;
    margin-left: 20px;
  }

  .orders__order_text {
    flex-wrap: wrap;
    width: 1000px;
  }

  .orders {
    width: 100%;


    &__list {
      width: 100%;
    }

    &__order {
      flex-wrap: wrap;
      height: auto;
      width: 100%;
      margin-top: 0;
    }

    &__title {
      margin-left: 15px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__content {
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }
  }

  #search__form {
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10px;
  }

  .search {
    &__form {
      &_input {
        width: 95%;
        margin-left: 10px;
      }

      &_submit {
        flex-wrap: wrap;
        margin-top: 20px;
      }
    }
  }

  .search {
    margin-top: 0;
  }

  .filters {
    margin-top: 0;
    width: 84%;

    &__form {
      width: 100%;
      margin-right: 17%;

      &_input {
        width: 130%;
        margin-bottom: 11px;
      }
    }

    &__budget {
      width: 100%;

      &_title {
        width: 100%;
      }
    }
  }


}

@media screen and (max-width: $width-adapt-ipad) and (min-width: calc(#{$width-adapt1} + 1px)) {
  .orders {

    margin: 0;



    &__order {
      width: 81%;
    }

    &__list {
      width: 66%;
    }

    &__title {
      margin-left: 4%;
    }

    &__content {
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .filters {
    width: 29%;
    margin-left: 0;
    //margin-right: 10px;

    &__form {
      width: 100%;

      &_input {
        width: 110%;
        margin-right: 0;
      }
    }
  }
}
