@import 'rootMedia.scss';
@media screen and (max-width: 1024px) {
  .orderPage {
    flex-wrap: wrap;
    align-items: normal;

    &__rate {
      margin-left: 0;
      width: 100%;
    }

    &__comments {
      flex-flow: column-reverse;
      flex-wrap: wrap;
      margin-top: 0;
      width: 100%;
    }

    &__responses {
      margin-top: 10px;
      width: 100%;
    }

    &__response {
      flex-direction: column;

      &_btn {
        margin-bottom: 10px;
      }

      &_img-bg {
        flex-direction: row;
        height: auto;
        width: auto;
        align-items: normal;
      }

      &_name {
        word-break: break-word;
        margin-left: 15px;
      }

      &_stats {
        margin: 0;
      }
    }

    &__order {
      flex-wrap: wrap;
      width: 100%;
      margin-top: 0;

      &_category {
        width: 100%;
        flex-wrap: wrap;
      }

      &_img-bg {
        margin: 50px 0 0 10px;
      }

      &_delete {
        margin-left: 50px;
      }

      &_end {
        margin-top: 10px;
      }

      &_up-box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: left;
      }

      &_text {
        width: max-content;
        padding: 15px;
        margin: 32px 0 32px 0;
        flex-wrap: wrap;
      }

      &_definition {
        flex-wrap: wrap;
        width: 100%;
      }

      &_stats {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      &_stat {
        width: auto;
      }
    }

    &__select-executor {
      &_text {
        margin-left: 12px;
      }

      &_data {
        margin-left: -22px;
      }
    }

    &__set-rate {
      width: 100%;
      flex-wrap: wrap;

      &_title {
        width: 80%;
      }

      &_input {
        width: auto;
      }

      &_input > .custom-form__input {
          width: 310px;
      }

      &_title-customer {
        font-size: 20px;
      }

      &_button-del {
        width: 140px;
      }

      &_button {
        width: 140px;
      }

      &_button-exit {
        margin-left: 15px;
        width: 140px;
      }

      &_input_in {
        width: 310px;
      }
    }
  }

  .min-rate {
    flex-direction: column;
  }

  .orderPage .vacancyPage__customer-button_change {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1024px) and (min-width: 721px) {
  .orderPage {
    &__comments {
      flex-flow: nowrap;
      flex-wrap: nowrap;
    }

    &__responses {
      margin-top: 0;
    }
  }

}

