@import 'rootMedia.scss';
@media screen and (max-width: $width-adapt) {
  .filters {
    flex-wrap: wrap;
    margin-top: 150px;
    margin-left: 20px;
  }

  .orders__order_text {
    flex-wrap: wrap;
    width: 1000px;
  }

  .orders {
    width: 375px;


    &__list {
      width: 375px;
    }

    &__order {
      flex-wrap: wrap;
      height: auto;
      width: 375px;
      margin-top: 0;
    }

    &__title {
      margin-left: 15px;
    }

    &__list {
      flex-wrap: wrap;
    }

    &__content {
      flex-wrap: wrap;
    }
  }

  #search__form {
    flex-wrap: wrap;
    width: 310px;
    margin-left: 10px;
  }
  .search__form_input {
    width: 310px;
    margin-left: 10px;
  }

  .search__form_submit {
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .search {
    margin-top: 0;
  }

  .filters {
    margin-top: 0;
    width: 375px;
  }

}
