@import 'templatesMedia';
@media screen and (max-width: $width-adapt) {
  .profile {
    &__content {
      width: 100%;
      margin: 0;
      padding-left: 50px;
    }

    &__border {
      padding: 0;
      position: relative;
      margin: 0;
      left: 0;
      width: 100%;
      height: max-content;
      transform: translate(0, 0);
      filter: none;
    }

    .bottom {
      margin: 0;
      flex-direction: column;

      &__item {
        padding: 0;
        margin-top: 15px;
      }
    }
  }

  .specializes {
    &__name {
      flex: 0 0 auto;
    }
  }

  .top {
    flex-direction: column;
    margin-top: 50px;

    &__item {
      margin-top: 10px;
      padding: 0;
    }
  }

  .user-name {
    &__text {
      margin: 0;
    }
  }

  .nickname {
    &__icon {
      margin: 0;
    }
  }

  .reviews-stat {
    margin-top: 10px;
  }

  .settings-buttion {
    &__text {
      margin: 0;
    }
  }

  .exit-buttion {
    &__text {
      margin: 10px 0 0 0;
    }
  }
}
