

// @media screen and (max-width: 420px) {

@import 'templatesMedia';
@media screen and (max-width: $width-adapt1) {

  .profile {
    &__content {
      width: 100%;
      margin: 0;
      padding-left: 20px;
    }

    &__border {
      padding: 0;
      position: relative;
      margin: 0;
      left: 0;
      width: 100%;
      height: max-content;
      transform: translate(0, 0);
      filter: none;
    }

    .bottom {
      margin: 0;
      flex-direction: column;

      &__item {
        padding: 0;
        margin-top: 15px;
      }
    }
  }

  .specializes {
    &__name {
      width: 50%;
      word-break: break-all;
      flex: 0 0 auto;
    }

    & li {
      width: 100%;
    }
  }

  .specialize-title {
    margin: 50px 0 0 0;
  }

  .top {
    flex-direction: column;
    margin-top: 50px;

    &__item {
      margin-top: 10px;
      padding: 0;
    }
  }

  .user-name {
    &__text {
      margin: 0;
    }
  }

  .nickname {
    &__icon {
      margin: 0;
    }
  }

  .reviews-stat {
    margin-top: 10px;
  }

  .settings-buttion {
    &__text {
      margin: 0;
    }
  }

  .exit-buttion {
    &__text {
      margin: 10px 0 0 0;
    }
  }
}

@media screen and (max-width: $height-adapt-ipad-pro) and (min-width: 421px) {
  .profile {
    &__content {
    }

    &__border {
      width: 100%;
      height: max-content;
    }

    .bottom {
      flex-wrap: wrap;

      &__item {
        width: max-content;
      }
    }
  }

  .specialize {
    &-title {
      margin: 50px 0 0 0;
    }
  }

  .top {
    flex-wrap: wrap;

    &__avatar {
      margin-bottom: 100px;
      margin-right: 40px;
      width: max-content;
      height: max-content;

      & > img {
        width: 100px;
        height: 100px;
      }
    }

    &__item {
      flex: 0 0 auto;
      padding: 0;
      margin-right: 40px;
    }
  }

  .user-name {
    width: max-content;

    &__text {
      margin: 0;
    }
  }

  .nickname {
    width: max-content;

    &__icon {
      margin: 0;
    }
  }

  .reviews-stat {
  }

  .settings-buttion {
    &__text {
      margin: 0;
      width: 150px;
    }
  }

  .exit-buttion {
    &__text {
      margin: 10px 0 0 0;
      width: 150px;
    }
  }

  .edit {
    margin: -114px 0 0 -12px;
  }
}
