@media screen and (max-width: 768px) {
  //.custom-form__label {
  //  font-size: 40px;
  //  margin-top: 200px;
  //  transform: translateY(-250%);
  //}

  .custom-form__input {
    width: 350px;
  }

  .custom-form__img {
    width: 40px;
  }

  .custom-form__input_in {
    width: 290px;
  }

  .custom-form__input-mini_bg {
    flex: 1 1 auto;
    justify-content: normal;
    margin-top: 0;
  }

  //.custom-form__input-mini {
  //  font-size: 32px;
  //}

  .custom-form__submit {
    width: 75%;
  }

  .custom-form__input-mini_flex {
    margin-top: 30px;
  }

  .custom-form__input-mini {
    width: 360px;
  }

  .custom-form__input-mini_in {
    width: 170px;
  }

}
