$width-adapt: 420px;
$width-adapt-ipad: 1024px;

@media screen and (max-width: $width-adapt) {
  .custom-form__input {
    width: 280px;
  }

  .custom-form {
    height: 700px;
  }

  .custom-form__img {
    width: 40px;
  }

  .custom-form__input_in {
    width: 238px;
  }


  .custom-form__input-mini_bg {
    flex: 1 1 auto;
    justify-content: space-between;
    margin-top: 0;
  }

  .custom-form__submit {
    width: 300px;
  }

  .custom-form__input-mini_flex {
    margin-top: 30px;
  }

  .custom-form__input-mini {
    width: 300px;
  }

  .custom-form__input-mini_in {
    width: 170px;
  }

  .settings__about-textarea {
    width: 300px;
  }

}
