@import 'rootMedia.scss';
@media screen and (max-width: $width-adapt) {
.select {
  &__input {
    width: 300px;
  }

  &__dropdown {
    width: 300px;
  }

  &__form {
    width: 270px;
    height: 60px;
    padding-top: 15px;
    padding-left: 27px;
    padding-bottom: 10px;
  }
}
}
