@import 'templatesMedia';
@media screen and (max-width: $width-adapt1) {
  .settings {
    flex-wrap: wrap;
    margin: 0;

    &__label {
      transform: translateY(-10px);
    }

    &__form {
      width: 100%;
    }

    &__bg-form {
      width: 96%;
      height: 100%;
      //margin-right: 5px;
    }

    &__form {
      flex-wrap: wrap;
    }

    &__column_right {
      margin-top: 25px;
      margin-left: 0;
      width: 100%;
    }

    &__arrow {
      //float: right;
      //position: relative;
      margin-top: 10px;
      padding-left: 0;
    }

    &__about-textarea {
      width: 100%;
    }
  }

  .settings-container {
    flex-wrap: wrap;
    padding: 13px;
    width: 95%;
  }

  .settings-form__input {
    justify-content: normal;
    width: 300px;

  }

  //.select {
  //  &__input {
  //    width: 300px;
  //  }
  //
  //  &__dropdown {
  //    width: 300px;
  //  }
  //}

  .about-form__input {
    width: 100%;
  }

}

@media screen and (max-width: $width-adapt-ipad) and (min-width: calc(#{$width-adapt1} + 1px)){
  #root > .settings {
    overflow: hidden;
  }

  #root {
    overflow-x: hidden;
    height: 100%;
  }
  .settings {
    height: 93%;
    flex-wrap: wrap;
    margin: 0;

    &__label {
      transform: translateY(-10px);
    }

    &__bg-form {
      width: 90%;
      //height: 1050px;
      margin-right: 0;
      //margin-left: 24px;
    }

    &__form {
      flex-wrap: wrap;
    }

    &__column_left {
      //margin-top: 25px;
      //margin-left: 0;
      width: 100%;
    }

    &__column_right {
      margin-top: 25px;
      margin-left: 0;
      width: 100%;
    }

    &__arrow {
      //float: right;
      //position: relative;
      margin-top: 10px;
      padding-left: 0;
    }

    &__about-textarea {
      width: 485px;
    }
  }

  .settings-container {
    flex-wrap: wrap;
  }

  .settings-form__input {
    justify-content: normal;
    width: 300px;

  }



  //.select {
  //  &__input {
  //    width: 300px;
  //  }
  //
  //  &__dropdown {
  //    width: 300px;
  //  }
  //}

}

@media screen and (max-width: $width-adapt-ipad) and (min-width: calc(#{$width-adapt1} + 1px)) and (max-height: 1024px) and (max-height: $height-adapt-ipad){
  #root {
    overflow-x: hidden;
    height: auto;
  }

  .settings {

    &__bg-form {
      width: 85%;
      //height: 1050px;
      margin-right: 0;
      //margin-left: 24px;
    }

    &__column_left {
      //margin-top: 25px;
      //margin-left: 0;
      width: 85%;
    }

    &__column_right {
      margin-top: 25px;
      margin-left: 0;
      width: 85%;
    }
  }
}

@media screen and (max-width: $width-adapt-ipad) and (min-width: calc(#{$width-adapt1} + 1px)) and (max-height: 1024px) and (max-height: $height-adapt-ipad){
  #root {
    overflow-x: hidden;
    height: auto;
  }

  .settings {

    &__bg-form {
      width: 85%;
      //height: 1050px;
      margin-right: 0;
      //margin-left: 24px;
    }

    &__column_left {
      //margin-top: 25px;
      //margin-left: 0;
      width: 85%;
    }

    &__column_right {
      margin-top: 25px;
      margin-left: 0;
      width: 85%;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: calc(#{$height-adapt-ipad} + 1px)) and (min-height: 1025px) and (max-height: $height-adapt-ipad-pro){
  #root {
    overflow-x: hidden;
    height: auto;
  }

  .settings {

    &__bg-form {
      width: 85%;
      //height: 1050px;
      margin-right: 0;
      //margin-left: 24px;
    }

    &__column_left {
      //margin-top: 25px;
      //margin-left: 0;
      width: 85%;
    }

    &__column_right {
      margin-top: 25px;
      margin-left: 0;
      width: 85%;
    }
  }
}


