.page404
    span(class='page404__title') К сожалению, страницы, которую вы ищете не существует
    div(class='page404__astronaut')
        img(src=require('@/static/img/astronaut.png').default alt='')
