@import "public/static/scss/main";

.mini-button {
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 0 10px;
  }

  &__elem {
    &_no {
      @include uniq_form($secondary_color);
      height: 50px;
      width: 200px;
      @include font(600, 20px, 28px, -0.5px, $white);
    }

    &_yes {
      @include uniq_form($primary_color);
      height: 50px;
      width: 200px;
      @include font(600, 20px, 28px, -0.5px, $white);
    }
  }
}
