.orderPage__feedback_bg#confim_window
    .orderPage__feedback_window
        form#specForm
            div(class='orderPage__feedback_title') Подтвердите действие

            .mini-button__box
                button(class='mini-button__elem_no') Отмена
                button(class='mini-button__elem_yes') Подтвердить
