include ../orders/orderInOrdersPage

if orders
    if orders.length === 0
        div(class="orderPage__no-comments") Ничего не найдено
    else
        each order in orders
            +orderInOrdersPage(order.avatar?order.avatar:require('@/static/img/profileAvatar.svg').default, order.login, order.name, order.category, order.definition, order.date, order.budget, order.id, order.customerId, false, isExecutor)
