include ../orders/orderInOrdersPage

.orders
    div(class='orders__title') Поиск
    div(class='orders__content')
        div(class='orders__list')
            div(class='search')
                    form#search__form
                        input(class='search__form_input' placeholder='Введите запрос' name='search')
                        button(class='search__form_submit') Найти
            if orders
                each order in orders
                    +orderInOrdersPage(order.avatar?order.avatar:require('@/static/img/profileAvatar.svg').default, order.login, order.name, order.category, order.definition, order.date, order.budget, order.id, order.customerId, isArchive, isExecutor)

                if orders.length === 0
                    div(class="orderPage__no-comments") Ничего не найдено

        form.filters
            div(class='filters__title') Фильтры
            div(class='filters__elem')
                label() Искать
                div.settings-form__input-mini_bg
                    div#select__what
            div.filters__content
