.navbar
    div(class='navbar__title') FindFreelancer.ru
    div(class='navbar__navigate')
        .row
            div(class='navbar__registration_text')
                a(class='row__item') Регистрация
                div(class='navbar__registration_content')
                    a(href='')  За клиента
                    a(href='')  За исполнителя
            a(class='row__item') Вход
            div(class='row__item')
                img(src='Icons/Search.svg' alt='')
