.navbar
    div(class='navbar__title') FindFreelancer.ru
    div(class='navbar__navigate')
        .row
            button(class='navbar__order-button row__item')
                div(class='navbar__order-button_text') Разместить заказ
            div(href='#' class='row__item')
                a(href='#')
                    img(src='Icons/User.svg' alt='')
            div(class='row__item')
                a(href='#')
                    img(src='Icons/Search.svg' alt='')
