@import "main.scss";
.login {
    @include main-block(0);
    //display: flex;
    //flex-direction: column;
    //justify-content: center;
    //align-items: center;
    //flex: 0 0 auto;
    //
    //background-color: var(--white);

    margin: 150px 0 0 0;

    &__bg-form {
        width: 542px;
        @include uniq_form($white);

        filter: drop-shadow(0px 4px 64px rgba(34, 57, 70, 0.09));
        //border-radius: 8px;
        //background-color: var(--white);
    }
}

//.login
