@import "./main.scss";

.page404 {
  position: fixed;

  margin: 0;
  @include font(600, 24px, 22px, -0.4px, $white);

  height: 100%;
  width: 100%;

  background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%);
  display: flex;
  justify-content: center;

  padding: 30vh 0 0;

  overflow: hidden;

  &__astronaut img {
    width: 100px;
    position: absolute;
    top: 55%;
    animation: astronautFly 6s infinite linear;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: $white;
  right: 0;
  animation: starTwinkle 3s infinite linear;
}

@keyframes astronautFly {
  0% {
    left: -100px;
  }
  25% {
    top: 50%;
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(45deg);
    top: 55%;
  }
  75% {
    top: 60%;
    transform: rotate(30deg);
  }
  100% {
    left: 110%;
    transform: rotate(45deg);
  }
}

@keyframes starTwinkle {
  0% {
    background: rgba(255, 255, 255, 0.4);
  }
  25% {
    background: rgba(255, 255, 255, 0.8);
  }
  50% {
    background: rgba(255, 255, 255, 1);
  }
  75% {
    background: rgba(255, 255, 255, 0.8);
  }
  100% {
    background: rgba(255, 255, 255, 0.4);
  }
}