@import "main.scss";
.specMainWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.specMainContent {
    @include form_dis($cntr, $cntr);
    margin-top: 105px;
    flex-direction: column;

    &__title {
        @include font(600, 36px, 44px, -1.5px, $dark);
    }

    &__select {
        margin-top: 75px;
    }
}
