@import "main.scss";
.settings {
    @include main-block(0);
    background-color: var(--white);

    margin: 94px 0 0 0;

    &__bg-form {
        width: 1150px;
        flex: 0 0 auto;

        filter: drop-shadow(0px 4px 64px rgba(34, 57, 70, 0.09));
        @include uniq_form($white);
    }

    &__form {
        @include form_dis_2($row, $cntr);
    }

    &__column_right {
        margin-left: 22px;
        margin-top: 67px;
    }

    &__about__form__label {
        margin-top: 25px;
        height: 30px;
        @include font(600, 20px, 30px, -0.55px, $dark);

        background-color: $white;
        color: $dark;
    }

    &__about__textarea {
        padding: 23px;
        height: 337px;
        width: 532px;

        @include uniq_form($placeholder);
        @include font(normal, 20px, 28px, -0.4px, $black);

        resize: none;
    }

    &-form__input {
        @include form_dis($cntr, $cntr);
        @include uniq_form($placeholder);

        margin-top: 32px;
    }

    &-form__input-mini_bg {
        @include form_dis($s_b, $cntr);

        flex-direction: row;

        margin-top: 32px;
    }

    &-container {
        padding: 49px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &__label {
        height: 30px;
        margin-bottom: 48px;
        @include font(600, 36px, 30px,  -0.55px, $dark);

        background-color: var(--white);
    }

    &-form__submit__container {
        display: flex;
        justify-content: flex-end;
        margin-top: 28px;
    }

    &-form__submit {
        @include form_dis($cntr, $cntr);
        @include uniq_form($primary_color);
        @include font(600, 18px, 22px, -0.4px, $white);

        width: 168px;
        height: 50px;
    }

    &form__datetime_in {
        @include uniq_form($placeholder);
        @include font(normal, 20px, 28px, -0.4px, $dark);

        -webkit-appearance: none;
        margin: 0;

        width: 422px;
        height: 60px;

        padding: 0 7px;


    }

    &__arrow {
        float: right;
        margin-top: 10px;
    }

    &__submit__img {
        margin-left: 13px;
    }

}

.about-form__input {
    @include form_dis($left, $cntr);
    @include uniq_form($placeholder);

    margin-top: 10px;
}



