@import "main.scss";

.vacancyPage__responses {
  width: 1030px;
  display: flex;
  flex-direction: column;


}

.vacancyPage {

  &__content {
    //margin-top: 15px;
    margin-left: 12px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: start;
    //justify-content: space-between;
    margin: 0 -32px;

    @include font(normal, 18px, 22px, normal, $white);
  }

  &__supportImage {
    margin-top: 15px;
    width: 24px;
    height: 24px;
  }

  &__textArea {
    //background-color: grey;
    margin-top: 18px;
    margin-left: 7px;
    resize: none;
    width: 797px;
    height: 139px;
  }

  &__comments_title {
    @include font(600, 22px, 30px, normal, $black);
    margin-left: 15px;
    //margin-right: ;
  }

  &__comment-buttons {
    display: flex;
    margin-left: 29px;
    margin-bottom: 19px;
    margin-top: 9px;
    justify-content: space-between;
  }

  &__comment-button_select {
    @include font(600, 16px, 19px, -0.4px, $white);
    @include uniq_form($primary_color);

    margin-right: 42px;
    width: 134px;
    height: 29px;

    text-align: center;
  }

  &__comment-button_info {

    @include font(normal, 12px, 20px, -0.4px, $primary_color);
    @include uniq_form($white);
    border: 2px solid $primary_color;
    box-sizing: border-box;
    margin-right: 42px;

    width: 182px;
    height: 28.33px;

    text-align: center;
  }

  &__comment-button_reviews {
    background: $white;
    color: $primary_color;
    border: 2px solid $primary_color;
    box-sizing: border-box;
    border-radius: 8px;
    width: 182px;
    height: 28.33px;

    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.4px;
    margin-right: 42px;
  }

  &__comment-button_cancel {
    @include uniq_form($secondary_color);
    @include font(600, 16px, 19px, -0.4px, $white);

    width: 134px;
    height: 29px;

    text-align: center;
  }

  &__comments_others {
    @include uniq_form($white);
    @include font(600, 16px, 19px, -0.4px, $dark);
    margin-top: 20px;
    height: 50px;
    border: 2px solid #DFE4EA;
    box-sizing: border-box;

    max-width: 500px;
    text-align: center;
  }

  &__response {
    box-shadow: 0 0 64px rgba(13, 17, 38, 0.05);
    border-radius: 8px;
    @include form_dis_2($row, $left);

    margin-top: 20px;
    max-width: 1030px;
    margin-left: 20px;
  }

  &__response_img {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
  }

  &__comment {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  &__comment-content {
    display: flex;
    flex-direction: column;
  }

  &__comment-text {
    @include font(normal, 15px, 22px, -0.4px, $black);

    margin: 0 26px 8px 14px;
    flex: 1 0 auto;
  }
}
