@import "main.scss";
.clear {
	padding: 0;
    margin: 0;
}

.error {
	font-size: 16px;
	color: red;
	position: relative;
	top: 5px;
	height: 0px;

	&__main {
		display: none;
		opacity: 0;

		&_active {

		}


		&_disactive {
			display: none;
		}
	}

	&__box {
		position: absolute;
		@include uniq_form($paragraph);
		width: 300px;
		bottom: 80px;
		color: white;
		overflow: hidden;


	}

	&__list {
		margin: 5px 0 10px 0;
	}

	&__help {
		padding: 6px 10px 2px 6px;
	}

	&__arrow {
		position: absolute;
		z-index: 1;
		content: '';
		bottom: 62px;
		left: 50%;
		transform: translateX(-230%);
		width: 50px;
		height: 25px;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: -4px;
			left: 50%;
			width: 20px;
			height: 20px;
			background-color: $paragraph;
			transform: translateX(-50%) rotate(45deg);
			box-shadow: 8px 8px 9px -4px rgba(0,0,0,.15);
		}
	}

	&__repeat_password {
		margin-right: 125px;
	}

}

.custom-form__input.form-control_error {
	border:solid 1.5px $secondary_color;
}
.custom-form__input-mini.form-control_error {
	border:solid 1.5px $secondary_color;
}

.settings-form__input.form-control_error {
	border:solid 1.5px $secondary_color;
}

.settings-form__input-mini_bg.form-control_error {
	border:solid 1.5px $secondary_color;
}

.select__input.form-control_error {
	border:solid 1.5px $secondary_color;
}

.about-form__input.form-control_error {
	border:solid 1.5px $secondary_color;
}

.orderPage__comments.form-control_error {
	border:solid 1.5px $secondary_color;
}

.custom-form__input.form-control_valid {
	border:solid 1.5px $primary_color;
}

.custom-form__input-mini.form-control_valid {
	border:solid 1.5px $primary_color;
}

.settings-form__input.form-control_valid  {
	border:solid 1.5px $primary_color;
}

.settings-form__input-mini_bg.form-control_valid {
	border:solid 1.5px $primary_color;
}

.select__input.form-control_valid {
	border:solid 1.5px $primary_color;
}

.about-form__input.form-control_valid {
	border:solid 1.5px $primary_color;
}

.orderPage__comments.form-control_valid {
	border:solid 1.5px $primary_color;
}

.label-reg {
	margin-top: 0%;
}

.error-rate {
	color: $white;
	transform: translateY(-15px);
}

.error-response {
	transform: translateY(-5px);
}

.error > .error__main_active {
	animation: tooltip .7s ease forwards;
	display: block;
}

@keyframes tooltip {
	0% {

	}
	100% {
		opacity: 1;
		bottom: calc(100% + 30px);
	}
}
