mixin customFormInput(img, placeholder, name, type)
    div(class='custom-form__input form-control')
        img(class='custom-form__img' src=img alt='')
        input(class='custom-form__input_in form-control' type=type name=name placeholder=placeholder)
