mixin settingsInput(img, placeholder, name, type)
    div(class='settings-form__input')
        img(class='custom-form__img' src=img alt='')
        input(class='custom-form__input_in' type=type name=name placeholder=placeholder)